<%- include("partials/header"); -%>

<div class="pos-right">
    <button type="submit" class="red-btn">Delete</button>
</div>

<h1> <%= postTitle %> </h1>
<p> <%= postContent %> </p>

<%- include("partials/footer"); -%>